{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

    {% for message in app.flashes('notice')%}
            <div class="alert alert-success">
                {{message}}
            </div>
    {% endfor %}
    <h1 class="mb-3 text-center fw-bold">BOOKSITE</h1>
    <div class="container ">
        <div class="d-flex flex-row mb-3 gap-3 ">
            <div>
                <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
            </div>

            {% if app.user == false %}
                <a class="btn btn-primary " href="{{ path('app_register') }}">Register</a>
            {% else %}
                <div>
                    <a class="btn btn-danger " href="{{ path('app_logout') }}">Logout</a>
                </div>
                <div>
                    <a class="btn btn-secondary " href="{{ path('app_dashboard_user', {'id': app.user.id}) }}">Profile</a>
                </div>
            {% endif %}
            {% if is_granted("ROLE_ADMIN")%}
            <div>
                <a class="btn btn-warning " href="{{ path('app_dashboard_admin') }}">Admin Dashboard</a>
            </div>
            {% endif %}
        </div>
    </div>

{# normalement faire un formulaire pour recuperer les livres avec nom author et resume/avis pour les mettre là avec un data in datas specifique aux livres/formulaire#}
    {% if app.user == true %} 
        <div>
            <h1 class="h3 mb-3 font-weight-normal text-center">Your books</h1>
        </div>  
        <div class="container"> 
            <div class="row d-flex justify-content-center">
                <div class="card text-bg-dark m-4 col-3 " > {# m-4 c'est la marge / col-3 c'est pour faire des colonnes #}
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>   
                <div class="card text-bg-dark m-4 col-3 " >
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " >
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div> 
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div>  
                <div class="card text-bg-dark m-4 col-3 " > 
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">name book</h5>
                        <p class="card-text">author</p>
                        <p class="card-text">resume/avis</p>
                    </div>
                </div> 
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
