{% extends 'base.html.twig' %}


{% block title %}Profil Update{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('app_home_page') }}" class="btn btn-light ">To Home Page</a>
        <a href="{{ path('app_dashboard_admin') }}" class="btn btn-warning ">To Dashboard</a>
    </div>



    <h1 class="mb-3 font-weight-normal text-center">Profile Update</h1>
    <div class="container d-flex justify-content-center">   
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                label: 'Email'
            }) }}
            {{ form_row(registrationForm.firstname, {
                label: 'First name'
            }) }}
            {{ form_row(registrationForm.lastname, {
                label: 'Last name'
            }) }}
            

            <button type="submit" class="btn btn-primary mb-3 d-flex ms-auto m-4">Update Profile</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
