{% extends 'base.html.twig' %}


{% block title %}Profil Update{% endblock %}

{% block body %}

<div>
    <a href="{{ path('app_home_page') }}" class="btn btn-light ">To Home Page</a>
</div>



    <h1>Profile Update</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'email'
        }) }}
        {{ form_row(registrationForm.firstname, {
            label: 'First name'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Last name'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Update Profile</button>
    {{ form_end(registrationForm) }}
{% endblock %}
