{% extends 'base.html.twig' %}


{% block title %}Profil Update Admin{% endblock %}

{% block body %}

<div>
    <a href="{{ path('app_home_page') }}" class="btn btn-light ">To Home Page</a>
</div>

    <h1>Profile Update</h1>

    {{ form_errors(registrationFormAdmin) }}

    {{ form_start(registrationFormAdmin) }}
        {{ form_row(registrationFormAdmin.email, {
            label: 'email'
        }) }}
        {# {{ form_row(registrationFormAdmin.roles, {
            label: 'roles'
        }) }} #}
        {{ form_row(registrationFormAdmin.firstname, {
            label: 'First name'
        }) }}
        {{ form_row(registrationFormAdmin.lastname, {
            label: 'Last name'
        }) }}

        <button type="submit" class="btn">Update Profile</button>
    {{ form_end(registrationFormAdmin) }}
{% endblock %}
