{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_home_page') }}" class="btn btn-light ">To Home Page</a>
    </div>
    <h1 class="mb-3 text-center fw-bold">BOOKSITE</h1>
    <div class="container"> 
        <div class="row">
            {% if datas is defined %}
                <div class="card text-bg-dark m-4  " > {# m-4 c'est la marge / col-3 c'est pour faire des colonnes #}
                    <div class="card-body border-light mb-3 " >
                        <h5 class="card-title">{{app.user.lastname}} {{app.user.firstname}}</h5>
                        <p class="card-text">{{app.user.email}}</p>
                        {# <p class="card-text">{{data.roles}}</p> #}
                        <a href="{{ path('app_home_page_registerUpdate',{'id': app.user.id}) }}" class="btn btn-warning ">Modify my profile</a>
                        <a href="{{ path('app_home_page_registerDelete',{'id': app.user.id}) }}" class="btn btn-danger ">Delete my profile</a>
                    </div>
                </div>
            {% endif %}   
        </div>
    </div>

{% endblock %}
